/*
The MIT License

Copyright 2020 E.Frolov <frolov@amiriset.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Apr 25, 2020, 5:31:08 PM
    Author     : E.Frolov <frolov@amiriset.com>
*/
@charset "utf-8";
/* Initial styles for document. */
root {
    display: block;
    width: 100%;
}
html, body, html body, div, table, p, img, section, header, article, footer {
    margin: 0;
    padding: 0;
    border: none
}
html, body, html body {
    width: 100%;
}
body {
    background-color: #eee;
    font-family: Georgia;
    font-size: 11px;
}
header{
    padding-top: 2px;
}

/* Initial styles for simple grid. */
.container { 
    width: 100%;
}
.container .row .cell,
.container .row .cell-auto,
.container .row .cell-20,
.container .row .cell-25,
.container .row .cell-33,
.container .row .cell-50,
.container .row .cell-75,
.container .row .cell-80 {
    display: block;
} 

/* Initial Logo styles. */
#logo div {
    border-radius: 50%;
    overflow: hidden;
    border: 2px #fff solid;
}
#logo div img {
    width: 100%;
    height: 100%;
}

/* Black line's style ;) */
#top {
    background-color: #000;
    border-bottom: #bba 1px solid;
    border-top: #ddc 1px solid;
    color:#fff;
    width:100%;
}

/* Initial types for top menu. */
nav.navbar .brand {
    display: inline-block;
    font-family: Arial;
    font-size: 180%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
nav.navbar button {
    line-height: 1;
    background-color: transparent;
    border :1px solid #fff;
    border-radius: 5px;
    font-size: 140%;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 0 10px;
}
nav.navbar .menu {
    font-family: Verdana;
    margin: 0;
    margin-block-start: -1px;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
nav.navbar .menu .item,
nav.navbar .menu .lang_item{
    display: list-item;
    list-style: none;
}
nav.navbar .menu .lang_item a,
nav.navbar .menu .item a {
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
    font-size: 140%;
}
nav.navbar .menu .lang_item a {
    text-decoration: none;
}
nav.navbar .menu .lang_item .wpml-ls-native{
    padding-left: 10px;
}
nav.navbar .menu .item a {
    text-decoration: underline;
}
    
nav.navbar .menu .item a.selected {
    font-weight: bold;
}
nav.navbar .menu .item:hover,
nav.navbar .menu .item a:hover {
    text-decoration: none;
}

/* Content's initial styles */
#content {
    border: 1px solid #ddd;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}    
#content h1 { 
    margin: 10px 6px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
#content h2 { 
    margin: 8px 4px;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
#content h3 {
    margin:6px 2px;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}
#content p {
    margin: 2px;
    font-size: 130%;
}
#content .table-row .td {
    text-indent: 1pt;
}
#content .table-row .th {
    font-weight: bold;
    text-align: right;
}

footer p { 
    font-size: 110%;
    color: #777;
    text-align: center;
}

/* Extra small devices (width 400px and less) *********************************/ 
body {
    font-size: 12px;
}    
#logo {
    display: none;
} 
#top {
    margin-top: 2px;
}
.container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 0;
    margin-left: 0;
}
.container .row { 
    display: block;
    margin-right: -5px;
    margin-left: -5px;
}
.container .row .cell-auto,
.container .row .cell,
.container .row .cell-20,
.container .row .cell-25,
.container .row .cell-33,
.container .row .cell-50,
.container .row .cell-75,
.container .row .cell-80 {
    max-width: 100%
} 
.container .row .cell-35-xs,
.container .row .cell-55-xs {
    display: inline-block;
} 
.container .row .cell-35-xs {
    width: 36%;
} 
.container .row .cell-55-xs {
    width: 53%;
} 
.container .row .cell,
.container .row .cell-auto,
.container .row .cell-35-xs,
.container .row .cell-55-xs,
.container .row .cell-25-md,
.container .row .cell-75-md,
.container .row .cell-20,
.container .row .cell-25,
.container .row .cell-33,
.container .row .cell-50,
.container .row .cell-75,
.container .row .cell-80 {
    padding-right: 5px;
    padding-left: 5px;
} 
#top,
nav.navbar button,
nav.navbar .menu .item a{
    line-height: 38px;
}
nav.navbar {
    display: block;
    width: 98%;
}
nav.navbar button {
    display: inline-block;
}
nav.navbar .content {
    display: block;
    background: #000;
    border-bottom-color: transparent;
}
nav.navbar .content.collapsed {
    display: none;
}
nav.navbar .menu {
    display: block;
    margin-block-start: -1px;
}

/* Small devices (phones, 400px and up) ***************************************/ 
@media (min-width: 400px){    
    .container {
        width: 398px;
        margin-left: auto;
        margin-right: auto;
        padding-right:10px;
        padding-left: 10px;
    }
    .container .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .container .row .cell,
    .container .row .cell-auto,
    .container .row .cell-35-xs,
    .container .row .cell-55-xs,
    .container .row .cell-25-md,
    .container .row .cell-75-md,
    .container .row .cell-20,
    .container .row .cell-25,
    .container .row .cell-33,
    .container .row .cell-50,
    .container .row .cell-75,
    .container .row .cell-80 {
        padding-right: 10px;
        padding-left: 10px;
    } 
}

/* Small devices (landscape phones, 576px and up) *****************************/ 
@media (min-width: 576px){    
    .container {
        width: 574px;
    }    
}

/* Medium devices (tablets, 768px and up) *************************************/
@media (min-width: 768px){    
    body {
        font-size: 10px;
    } 
    .container {
        width: 766px;
    }
    /* Enable flex options for grid */
    .container .row {
        display: flex;
    }    
    .container .row .cell,
    .container .row .cell-auto {
        flex: 0 1 98%;
        max-width: 98%;
    }
    .container .row .cell-20 {
        flex: 0 1 19.60000%;
        max-width: 19.60000%;
    }
    .container .row .cell-25-md,
    .container .row .cell-25 {
        flex: 0 1 24.50000%;
        max-width: 24.50000%;
    }
    .container .row .cell-33 {
        flex: 0 1 32.66667%;
        max-width: 32.66667%;
    }
    .container .row .cell-50 {
        flex: 0 1 49.00000%;
        max-width: 49.00000%;}
    .container .row .cell-75-md,
    .container .row .cell-75 {
        flex: 0 1 73.50000%;
        max-width:73.50000%;
    }
    .container .row .cell-80 {
        flex: 0 1 78.40000%;
        max-width:78.40000%;
    }
    #content .row{
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    #content h1 { 
        margin: 20px 6px;
    }
    #content h2 { 
        margin: 15px 4px;
    }
    #content h3 {
        margin: 10px 2px;    
    }
    #top {
        margin-top: 2px;
        height: 30px
    }
     /* Enable flex options for top menu */
    #top,
    nav.navbar button,
    nav.navbar .menu .item a {
        line-height: 30px;
    }    
    nav.navbar {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    nav.navbar button {
        display: none!important;
    }
    nav.navbar .content.collapsed {
        display: inline-block;
        border-bottom-color: transparent;
    }
    nav.navbar .menu {
        display: flex;
        margin-block-start: 0;
    }
    nav.navbar .menu .lang_item .wpml-ls-native{
        display: none;
    }
    footer p {
        text-align: left
    }
}

/* Large devices (desktops, 992px and up) *************************************/
@media (min-width:992px) {
    body {
        font-size: 11px;
    }
    .container {
        width: 990px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .container .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .container .row .cell,
    .container .row .cell-auto,
    .container .row .cell-35-xs,
    .container .row .cell-55-xs,
    .container .row .cell-20,
    .container .row .cell-25,
    .container .row .cell-33,
    .container .row .cell-50,
    .container .row .cell-75,
    .container .row .cell-80 {
        padding-right: 15px;
        padding-left: 15px;
    }  
    header {
        height: 90px;
    }
    #top {
        margin-top: 30px;
    }
    #logo {
        display: block;
        width: 100px;
        padding-left: 15px;
    }
    #logo div {
        width: 90px;
        height: 90px;
        margin-top:-34px;
    }  
}

/* Extra large devices (large desktops, 1200px and up) ************************/
@media (min-width: 1200px) {
    header {
        height: 100px;
    }
    .container {
        width: 1200px;
    } 
    #logo {
        width: 110px;
    }
    #logo div {
        width: 100px;
        height: 100px;
    }
    #top {
        margin-top: 30px;
        height: 40px;
    }
    #top,
    nav.navbar button,
    nav.navbar .menu .item a {
        line-height: 40px;
    } 
}